<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dellcorei3.storemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".store.manager.MainManagementActivity" />
        <activity android:name=".store.manager.CreateAccountActivity" />
        <activity android:name=".store.manager.ShiftActivity" />
        <activity android:name=".store.manager.EmployeeManagementActivity" />
        <activity android:name=".store.manager.EmployeeActivity" />
        <activity
            android:name=".store.manager.TimeKeepingActivity"
            android:label="Bảng chấm công" />
        <activity
            android:name=".store.manager.ShiftDetailActivity"
            android:label="Ca làm việc" />
        <activity
            android:name=".store.manager.RevenueActivity"
            android:label="@string/title_activity_revenue"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>